body, html 
{
    height: 100%;
}

.wpage
{
    background-image: url(../img/pagebg.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wfeed
{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.wheader
{
    padding-top: 46px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wheaderbrand
{
    display: flex;
    align-items: flex-end;
}

.wheaderbrandlogo
{
    position: relative;
}

.wheaderbrandlogooverlay
{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 500ms;
}

.wheaderbrandcaption
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
}

.wheaderbrandcaptionline
{
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    transition: 500ms;
}

.wheaderbrandcaptionline1
{
    font-size: 29px;
}

.wheaderbrandcaptionline2
{
    font-size: 18px;
}

.wheaderbrand:hover .wheaderbrandlogooverlay
{
    opacity: 1;
}

.wheaderbrand:hover .wheaderbrandcaptionline
{
    color: #F26522;
}

.wheadercontacts
{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.wheadercontactsentry
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 500ms;
}

/* .wheadercontactsemail
{
} */

.wheadercontactsphone
{
    margin-top: 23px;
}

.wheadercontactsentry:hover
{
    color: #F26522;
}

.wmain
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 62px;
    justify-content:space-between;
}

/* .wmaintopic
{
} */

.wmaintopiccaption
{
    display: block;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    transition: 500ms;
}

.wmaintopicholder
{
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;

    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(45deg, black, white) 10 / 10;
}

.wmaintopicimage
{
    display:block;
    width: 100%;
    height: 100%;
    /* object-fit: cover;     */
}

.wmaintopicoverbar
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background: #F26522;
    position: absolute;
    height: 55px;
    width: 100%;
    bottom: -100px;
    left: 0;
    transition: 500ms;
}

.wmaintopic:hover .wmaintopicoverbar
{
    bottom: 0;
}

.wmaintopic:hover .wmaintopiccaption
{
    color: #F26522;  
}

.wmaintopicoverbarprompt
{
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}

.wmaintopicoverbarpanel
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wmaintopicoverbarprice
{
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.wmaintopicoverbarinfo
{
    margin-right: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.wmaintopicoverbarinfo::after
{
    content: ">";
    margin-left: 16px;
}

.wfooter
{
    padding-top: 49px;
    padding-bottom: 18px;
}

.wfootercopyright
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;   
}

